<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Event Calendar{% endblock title %}</title>
	<link rel="stylesheet" href="{% static 'happenings/css/calendar.css' %}">
	{% block extra_css %}
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% endblock extra_css %}

</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">GCH Kalender</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/admin/happenings/event/add/">Neuer Termin</a></li>
			<li><a href="/admin/happenings/cancellation/add/">Termin widerrufen</a></li>
			<li><a href="/admin/auth/user/"> Benutzer verwalten</a></li>


		</ul>
	</div>
</nav>

{% block content %}{% endblock content %}
<script src="{% static 'happenings/js/calendar.js' %}"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
